@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #292828;
}

/* .home,
.reports,
.products {
  background-color: #d6926b;
  color: #fff;
} */

.cover {
  background-color: #d6926b;
  color: #fff;
  text-align: center;
  margin: auto;
}

.cover > .cover-photo {
    border: 4px solid white;
    max-width: 800px;
    width: 100%;
}

.cover > h2 {
    font-size: 30px;
    background-color: white;
    padding: 10px;
    color: black;
    max-width: 400px;
    margin: auto;
}

.cover {
    padding: 40px 30px;
}

.content-body {
    padding: 100px 30px;
}

.inner-content {
    max-width: 960px;
    margin: auto;
}

.inner-content.stretch {
  max-width: 100%;
}

.content-body > .inner-content {
  text-align: center;
}

.content-body > .inner-content > h1 {
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.audio { 
  background-color: #1f373b;
}

.audio h1 {
  color: white; 
}

.bookings {
  background-color: #eefd6d;
}

.button-container > button {
  padding: 8px 16px;
  margin: 8px;
  border: 3px solid black;
  color: black;
  font-size: 24px;
}

.video {
  background-color: #f5ccae;
}

.spotify-player {
  border-radius: 12px;
}

.youtube-player {
  width: 350px;
  height: 250px;
  border: 3px solid white;
}

/* Navbar CSS */
.navbar {
  background-color: #ffffff;
  height: 70px;
  transition: height 0.15s ease-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Allura", cursive;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  transition: height 0.25s ease-in;
}

.navbar > h2 {
    padding-right: 1rem;
    margin: auto;
    font-family: "Allura", cursive;
    font-size: 40px;
    font-weight: 500;
} 

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px 5px 10px;
  list-style: none;
  height: 50px;
}

.nav-text span {
    margin-left: 8px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* span {
  margin-left: 16px;
} */